.center {
    background-color: #333333;
    color: white;
}
.firstLineStats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 40px;

}
.stockSupplyStats {
    background-color: #444444;
}
.stockMarketStats {
    margin-right: 50px;
    /*background-color: #444444;*/
    /*padding-left: 40px;*/
    display: flex;
    flex-direction: column;
}
.stockMarketStats table {
    color: white;
}
.stockMarketFirstLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.stockMarketMarketcap {
    width: 45%;
    margin-left: 40px;
    /*margin-right: 40px;*/
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #444444;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.stockMarketPrice {
    width: 45%;
    margin-left: 40px;

    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #444444;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.stockMarketSupply {
    margin-left: 40px;
    /*margin-right: 40px;*/
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #444444;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.accountStockChange {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#amountStock {
    display: flex;
    flex-direction: row;

}
#accountStockValue {
    font-size: xx-large;
    margin-bottom: 0;
}
#amountStock p {
    margin-right: 20px;
}
#accountChangeValue {
    color: #24e484;
    font-size: x-large;
}
.accountStockHistory {
    background-color: #444444;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 50px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}
.exchangeOption {
    display: flex;
    flex-direction: row;
}
.tradeHeader {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}
.tradeHeader h3 {
    background-color: #444444;
    padding-left: 20px;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
}
.exchange p {
    margin-bottom: 0;
}
.exchange h3 {
    margin-bottom: 40px;
}
.portfolioProfit {
    width: 300px;
    display: flex;
    flex-direction: row;
}
.portfolioProfit img {
    margin-top: 7px;
    height: 24px;
}
.tradeCenter h5 {
    margin-bottom: 0;
}
.exchangeOption {
    margin-top: 20px;
}
.exchange button {
    margin-top: 20px;
    margin-bottom: 80px;
}
#fiatExchange {
    margin-top: 0;
    margin-bottom: 30px;
}
.exchange {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
    margin-right: 50px;
    padding-left: 340px;
    padding-right: 340px;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #444444;
}
.tradeCenter p {
    margin-bottom: 0;
}
.tradeTop {
    /*margin-bottom: 20px;*/
}
.formBuy {
    margin-bottom: 0;
    padding-bottom: 0;
}
#tradeButton {
    margin-bottom: 0;
    width: 100px;
}
.tradeCenter {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 340px;
    padding-right: 340px;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #444444;
}

.tradeCenter button {
    margin-top: 30px;
    margin-bottom: 50px;
}

#tradeValue {
    color: white;
    margin-top: 20px;
    margin-bottom: 0;
}
.stockListMain {
    margin-left: 40px;
    margin-right: 50px;
    padding-left: 340px;
    padding-right: 340px;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #444444;
}
.stockListMain table {
    color: white;
}
.listStocks table {
    color: white;
}
#calculate {
    width: 100px;
    margin-top: 0;
}
#tradeValue button {
    padding-top: 0;
    margin-top: 0;
}
.accountStockPrice {
    margin-left: 40px;
    margin-right: 50px;
    margin-top: 40px;
    background-color: #444444;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 20px;
}
.accountHeaderButtons {
    padding-top: 20px;
}
.accountStockHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 40px;
    margin-right: 50px;
    padding-left: 40px;
    padding-right: 50px;
    background-color: #444444;
}
.firstColumn {
    width: 75%;
}
.stockPriceStats {
}
#priceStatsTable {
    height: 300px;
    width: 400px;
    background-color: #444444;
}
#priceStatsTable td {
    padding-left: 40px;
    padding-right: 40px;
}
.lastRows {
    padding-bottom: 40px;
}
#lastRow {
    padding-bottom: 40px;
}
#priceStatsTable th{
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
.stockMarketHeadTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.stockMarketHeadPrice p {
    margin-bottom: 0;
}
.justRow {
    display: flex;
    flex-direction: row;
}
.stockNameHeader {
    display: flex;
    flex-direction: row;
}
.stockNameHeader p {
    margin-left: 2px;
    margin-top: 6px;
}
.stockMarketHeadBottom {
    margin-right: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.stockMarketHead {
    margin-left: 40px;
    padding-left: 40px;
    margin-right: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #444444;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.buttons {
    padding-top: 20px;
    padding-right: 40px;
}
.accountBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.searchBar {
    margin-top: 30px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
}
.content {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}
#buttonTest {
    width: 100%;
}
.mainAccounts {
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
}
#accountsTable {
    color: white;
}
#accountsTable td {
    padding-top: 15px;
    padding-bottom: 15px;

}
#priceRow {
    padding-bottom: 30px;

}
#marketTable a {
    display:block;
    text-decoration:none;
    color: white;
}
#marketTable td {
    padding-bottom: 0;
}
.accountHead h2 {
    margin-left: 40px;
    color: white;
}
#MarketTitle {
    color: white;
}
#accountsTable a {
    display:block;
    text-decoration:none;
    color: white;
}
/*#accountsTable tr:hover {*/
/*    background-color: #444444;*/
/*}*/
.table tbody tr:hover {
    background-color: #444444;
}

#findInMarket {
    display: flex;
    flex-direction: row;
}
.whiteText {
    color: white;
}
.changeStock {
    display: flex;
    flex-direction: row;
    color: #24e484;
}
.changeStock p {
    margin-right: 3px;
}
.changeMinusStock {
    color: #ff344c;
}
#stockPlusChange {
    display: flex;
    flex-direction: row;
    color: #24e484;
}
#stockMinusChange {
    display: flex;
    flex-direction: row;
    color: #ff344c;
}
.menuBar {
    width: 15%;
    background-color: #444444

}
.paging {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.selectStock {
    display: flex;
    flex-direction: row;
}
.selectStock select {
    height: 50px;
}
.selectStock button {
    margin-top: 0;
    margin-bottom: 0;
    /*height: 50px;*/
    /*width: 50px;*/
}
.stockAmount {
    margin-top: 40px;
}
.mainCash {
    margin-top: 60px;
    margin-right: 50px;
    margin-left: 40px;
    padding-bottom: 50px;
}
.mainCash table {
    color: white;
}
.mainMarket {
    margin-top: 60px;
    margin-right: 50px;
    margin-left: 40px;
    padding-bottom: 50px;
}
.mainMarket table {
    color: white;

}
#accountTable {
    color: white;
    /*padding-bottom: 90px;*/

}
.rangeMarket {
    margin-top: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    height: 40px;
}
.rangeMarket p {
    color: white;
    margin-top: 6px;
    margin-right: 20px;
}
.rangeMarket select {
    background-color: #444444;
    color: white;
}
.marketHeader {
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.portfolioTableHead {
    color: white;
    font-size: larger;
}
#searchMarketBar {
    width: 200px;
    background-color: #444444;
    color: white;

}
#searchMarketBar::placeholder {
    color: darkgray;
    opacity: 1;
}

.menuBar a {
    width: 100%;
}
.center {
    width: 85%;
}
.menuList ul {
    margin-left: 0;
}
.menuList {
    display: flex;
    flex-direction: column;
    font-size: large;
    margin-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
}
.menuList p {
    margin-left: 20px;

}
#menuTitle {
    color: white;
}
.menuList a {
    /*width: 100%;*/
    margin-top: 20px;
}
.topHeader {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 70px;
}
.topHeader button {
    /*color: black;*/
    margin-left: 10px;
    margin-right: 10px;
}
.baton {
    background-color: #2f2e33;
    border-width: 0;
}
.btn-bd-primary {

}
.mainCenter {
    background-color: #444444;
    margin-left: 50px;
    margin-right: 50px;
}
.mainBudget {
    background-color: #444444;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.headCenter {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
}
.budget {
    margin-left: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.budget p {
    color: darkgray;
}
.budget h2 {
    color: white;
    margin-bottom: 0;
}
.totalBalance {
    margin-left: 30px;
    margin-top: 30px;
}
.totalBalance h2 {
    color: white;
    margin-bottom: 0;
}
.totalBalance p {
    color: darkgray;
}
.headButtons {
    margin-right: 30px;
    margin-top: 30px;
}
.cryptoInfo {
    color: white;
}
.cryptoPrice {
    color: darkgray;
}
.bottomCenter {
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 40px;
    background-color: #444444;
}
.bottomCenter table {
    font-size: large;
}
.changeRangeButtons {
    margin-right: 30px;
}
.changeRangeMarketButtons {
    margin-top: 20px;
    margin-right: 30px;
}

.portfolioStats {
    padding-bottom: 40px;
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.greenFont {
    color: #24e484;
}
.redFont {
    color: #ff344c;
}
#portfolioPlusProfit {
    color: #24e484;
    font-size: x-large;
}
#portfolioMinusProfit {
    color: #ff344c;
    font-size: x-large;
}
.headPortfolioFavourite {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}
.headPortfolioFavourite p {
    font-size: x-large;
}
.headPortfolioFavourite table td {

    justify-content: space-between;
}

.dropdown {
    position: relative;
}
.dropdown-menu {
    position: relative;
}
.dropdown-item {
    position: relative;
}
.dropdownMenuButton {
    position: relative;
}
.dropbtn {
    background-color: #444444;
    color: white;
    padding: 16px;
    font-size: x-large;
    border: none;
    cursor: pointer;
}
.headForm {

}
.availableFunds {

}
.availableFunds p {
    color: darkgray;
    margin-bottom: 20px;
}
.availableFunds h2 {
    margin-bottom: 0;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #5c636a
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
