<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cash</title>
    <link rel="stylesheet" th:href="style2.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<div class="content">
    <div th:replace="fragments :: menuBar"></div>
    <div class="center">
        <div th:replace="fragments :: topHeader"></div>
        <div class="mainCenter">
            <div class="headCenter">
                <div class="totalBalance">
                    <h2 th:text="|PLN *{#numbers.formatDecimal(balance, 1, 'COMMA', 2, 'POINT')}|"></h2>
                    <p>total balance</p>
                </div>
                <div class="headButtons">
                    <a th:href="@{/addTransaction}"><button class="btn btn-secondary"><img src="/img/plus24.png"></button></a>
                </div>
            </div>
            <div class="portfolioStats">
                <div class="portfolioProfit">
                    <p th:if="${percentageProfit >= 0}"><img src="/img/upgreen24.png"></p>
                    <p th:if="${percentageProfit >= 0}" id="portfolioPlusProfit"
                       th:text="|${percentageProfit}% (+$${profit})|"></p>

                    <p th:unless="${percentageProfit >= 0}"><img src="/img/downred24.png"></p>
                    <p th:unless="${percentageProfit >= 0}" id="portfolioMinusProfit"
                       th:text="|${percentageProfit}% ($${profit})|"></p>
                </div>
                <div class="changeRangeButtons">
                    <a th:href="@{/cryptoWallet?range=1h}">
                        <button type="button" class="btn btn-secondary">1h</button></a>
                    <a th:href="@{/cryptoWallet}">
                        <button type="button" class="btn btn-secondary">1D</button></a>
                    <a th:href="@{/cryptoWallet?range=1W}">
                        <button type="button" class="btn btn-secondary">1W</button></a>
                    <a th:href="@{/cryptoWallet?range=1M}">
                        <button type="button" class="btn btn-secondary">1M</button></a>
                    <a th:href="@{/cryptoWallet?range=3M}">
                        <button type="button" class="btn btn-secondary">3M</button></a>
                    <a th:href="@{/cryptoWallet?range=max}">
                        <button type="button" class="btn btn-secondary">All</button></a>
                </div>
            </div>
        </div>
        <div class="mainCash">
<!--            same wydatki/ przychody-->
<!--            ostatnie 10?-->
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Value</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="transaction: ${transactions}" th:object="${transaction}">
                    <td th:text="*{title}"></td>
                    <td th:text="*{description}"></td>
                    <td th:text="*{type.name}"></td>
                    <td th:text="|*{transactionValue} zł|"></td>
                    <td th:text="*{date}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>